@model CopeyWinery.Models.Activity

@{
    ViewBag.Title = "Details";
}
<link href="~/fonts/styles.css" rel="stylesheet" type="text/css">

<h2>Detalles</h2>

<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Activity_Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
